body {
  margin: 30px; 
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #c8ba7b;
}

#background {
  position: fixed;
  left: 30px; 
  width: calc(100% - 60px); 
  height: calc(100% - 30px); 
  object-fit: cover;
  filter: blur(4px);
  z-index: -1;
}

#overlay {
  position: fixed;
  width: 10%;
  height: 100%;
  z-index: -1;
}

.menu_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  max-height: 100px;
  overflow: hidden;
  background: radial-gradient(#0097b2, #7ed957);
  min-width: 200px;
  border-radius: 10px;
  z-index: 1; /* Ensure the header stays above the background image */
}

.quiz-container {
  width: 70%;
  background-color: rgba(0, 0, 74, 0.8);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  color: white;
  margin: 20px auto; /* Center the quiz container and add margin */
}

#content {
  margin: 30px;
  color: white;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  border: 3px solid #f1f1f1;
  padding: 20px;
  border-radius: 10px;
}

#text {
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */

}

.left_links, .right_links {
  display: flex;
  align-items: center;
}

.left_links {
  justify-content: flex-start;
}

.center_logo {
  flex-grow: 1;
  text-align: center;
  max-width: 200px; 
  object-fit: cover;
  max-height: 200px;
}

.logo {
  max-width: 100%; /* Set maximum width to 100% */
  max-height: 50px; /* Set maximum height as needed */
}

.right_links {
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: #fff; 
  padding: 10px; 
  transition: color 0.3s ease; 
}

a:hover {
  background-color: rgba(0, 0, 74, 0.8);
  border-radius: 15px;
  padding: 20px;
}


footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #38b9ff;
  padding: 30px;
  border-radius: 10px;
  bottom: 0; 
  position: relative;
}

footer p {
  margin: 0;
  color: white;
}

footer a {
  color: black; 
  margin-left: 20px; 
  text-decoration: none;
  transition: color 0.3s ease; 
}

footer a:hover {
  background-color: red;
  padding: 20px;
}

strong{
  color: #38b9ff;
  text-shadow: 1px 1px 0 #000,-1px -1px 0 #1b4ed1,0 0 20px rgba(53,110,255,.45098039215686275),0 0 55px rgba(53,110,255,.45098039215686275);
  display: block;
  font-size: 3rem;
}

h2{
  font-size: 3.0rem;
}

h2,h3{
  line-height: 1.125;
  text-transform: uppercase;
  font-weight: 800;
}

.info {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.info h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.info strong {
  color: #4caf50;
}

.info p {
  color: #555;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.rules-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.rules-container h1 {
  color: #333;
  text-align: center;
}

.rules-container p {
  color: #555;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.question-structure {
  margin-top: 15px;
}

.question-structure table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.question-structure th, .question-structure td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.lifelines {
  margin-top: 15px;
}

.lifelines p {
  margin-bottom: 10px;
}

#login-content {
  margin: auto;
  margin-bottom: 20px;
  color: white;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  border: 3px solid #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  align-items: center;
  margin-top: 50px; /* Adjust margin-top as needed */
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  margin-bottom: 8px;
}

input {
  width: 60%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 30px;
}

button:hover {
  background-color: #45a049;
}

.register-link {
  text-align: center;
  margin-top: 16px;
  font-size: 30px;
}

.score {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.question {
  border: 3px solid #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.options-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin: 4px;
}

.option {
  width: 47%;
  border: 3px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  margin: 4px;
}

.option input[type="radio"]:checked + label {
  background-color: #1b4ed1;
  color: white;
  margin: 4px;
}

.option label {
  display: block;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

table {
  width: 80%;
  border-collapse: collapse;
  padding: 20px;
  color: white;
  border-radius: 10px;
  margin: auto;
}

th, td {
  padding: 12px;
  text-align: left;
  border-radius: 15px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: rgba(0, 0, 74, 0.8);
  color: #fff;
  text-align: center;
}

td {
  background-color: rgba(0, 0, 128, 0.8); /* Adjust the background color for td */
  color: #fff;
  text-align: center;
}

.error_button {
  display: block;
  margin-top: 20px;
  padding: 10px;
  background-color: #0074cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.link_hover:hover {
  background-color: #0056b3;
}

.button-container {
  display: flex; 
  justify-content: space-between; 
  margin-top: 20px; 
}

.submit-btn, .quit-btn {
  background-color: #38b9ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  cursor: pointer; 
}

.submit-btn:hover, .quit-btn:hover {
  background-color: #1b4ed1;
}

 .button-container .quit-btn {
    margin-left: 10px; 
  }